.header {
  background-color: #9b59b6; /* Violet */
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  font-size: 2em;
  font-family: 'Arial', sans-serif;
}

.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header nav ul li a:hover {
  color: #d7bde2; /* Violet clair */
}