.skills {
  flex: 1;
  padding: 20px;
  background-color: #f5eef8; /* Violet très clair */
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills h2 {
  margin-top: 0;
  font-size: 2.5em;
  color: #9b59b6; /* Violet */
  font-family: 'Georgia', serif;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills ul li {
  background-color: #9b59b6;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 0.3s;
}

.skills ul li:hover {
  transform: scale(1.1);
}